.background {
    background-color: gray;
  }

  .pdfview {
    margin: auto;
    display: block;
    width: 850px;
    height: 100vh;
    border-radius: 10px;
  }

h1 {
 margin: auto; 
 text-align: center;
 color: aqua;
}
 .resumen {
    color: rgb(168, 223, 241);
 }
